<div class="col-xs-6 col-sm-4 col-md-3">
	<div class="thumbnail">
		<div class="embed-responsive embed-responsive-16by9">
			<%= image_tag attachment.file(:thumb), class: 'img-responsive center-block' %>
		</div>
		<div class="caption small">
			Caption
		</div>
	</div>
</div>
